@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");
@import url(../img/arnold3.jpg);
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* bases */
body {
  font-family: "Barlow", sans-serif;
  color: var(--body);
  line-height: 1.7;
  background-color: #101418; }

/*layout*/
.navbar-nav {
  padding-top: 5px;
  padding-bottom: 5px; }

.navbar-brand {
  font-weight: 700;
  font-size: 26px; }

.btn {
  padding: 8px 26px; }

.btn-brand {
  border-color: var(--brand);
  background-color: var(--brand);
  color: #fff; }

.btn-brand:hover {
  background-color: #d64022;
  border-color: #d64022;
  color: #fff; }

.button {
  text-align: center; }

.img1 {
  height: 550px; }

.col {
  background-color: #101418; }

/* slide */
.slide {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }

.slide1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/arnold3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

footer {
  color: white;
  background: linear-gradient(0deg, rgba(28, 27, 36, 0.9), rgba(0, 0, 0, 0.9)), #082032;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

footer .footer-top {
  padding-top: 80px;
  padding-bottom: 40px; }

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 20px;
  padding-top: 20px; }

footer .navbar-brand {
  color: #fff; }

footer p {
  color: #ADB3B9; }

footer .social-icons a {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin-left: 4px;
  margin-right: 4px; }

.social-icons a {
  width: 28px;
  height: 28px;
  display: inline-flex;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 100px; }

.social-icons a:hover {
  background-color: #1a1b22;
  color: var(--brand); }

/* Componentes */
.contenedor {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.h4-texto {
  text-align: center;
  color: #fff;
  position: relative;
  top: 20px;
  text-decoration: overline;
  text-decoration-color: #68131a; }

.contenedor_tarjeta {
  margin: 20px; }

.contenedor_tarjeta a {
  display: inline-block; }

.contenedor_tarjeta:hover figure {
  transform: perspective(600px) rotateY(180deg);
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25); }

figure {
  width: 300px;
  height: 350px;
  margin: 0;
  position: relative;
  transition: all ease .5s;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateY(0deg); }

figure .frontal,
figure .trasera {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all ease .5s; }

figure .frontal {
  display: block;
  background: #000; }

figure .trasera {
  position: absolute;
  top: 0;
  padding: 20px;
  color: #fff;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  overflow: auto; }

.contenedor_tarjeta:nth-child(1) figure .trasera {
  background: rgba(223, 234, 241, 0.7);
  background: -moz-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223, 234, 241, 0.7)), color-stop(100%, #0f6390));
  background: -webkit-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -o-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -ms-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: linear-gradient(to bottom, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0); }

.contenedor_tarjeta:nth-child(2) figure .trasera {
  background: rgba(251, 232, 202, 0.7);
  background: -moz-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251, 232, 202, 0.7)), color-stop(100%, #192c48));
  background: -webkit-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -o-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -ms-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: linear-gradient(to bottom, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbe8ca', endColorstr='#192c48', GradientType=0); }

.contenedor_tarjeta:nth-child(3) figure .trasera {
  background: rgba(95, 58, 53, 0.7);
  background: -moz-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95, 58, 53, 0.7)), color-stop(100%, #dd202f));
  background: -webkit-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -o-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -ms-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: linear-gradient(to bottom, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f3a35', endColorstr='#dd202f', GradientType=0); }

figure .trasera .titulo {
  color: #fff;
  font-weight: normal;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px; }

figure .trasera hr {
  height: 2px;
  background: #fff;
  border: none;
  margin-bottom: 20px;
  opacity: .5; }

figure .trasera p {
  font-family: 'Open Sans', sans-serif;
  line-height: 22px;
  font-size: 14px; }

@media screen and (max-width: 992px) {
  figure .trasera {
    /*position: relative;*/
    backface-visibility: visible;
    transform: perspective(600px) rotateY(0deg); }
  .contenedor_tarjeta:hover figure {
    transform: perspective(600px) rotateY(0deg); } }

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em; }

ul {
  list-style: none;
  padding: 0; }

.brand {
  text-align: center;
  color: #43545a; }

.brand span {
  color: #fff; }

.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7); }

.wrapper > * {
  padding: 1em; }

.company-info {
  background: #c9e6ff; }

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0; }

.contact {
  background: #f9feff; }

/* FORM STYLES */
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; }

.contact form label {
  display: block; }

.contact form p {
  margin: 0; }

.contact form .full {
  grid-column: 1 / 3; }

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #c9e6ff; }

.contact form button {
  background: #c9e6ff;
  border: 0;
  text-transform: uppercase; }

.contact form button:hover,
.contact form button:focus {
  background: #000000;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out; }

/* LARGE SCREENS */
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr; }
  .wrapper > * {
    padding: 2em; }
  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left; } }

#about {
  width: 100%;
  height: auto;
  background: #101418;
  padding-top: 120px;
  color: #ADB3B9; }

#about .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #1e1d25; }

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(255, 255, 255, 0.14);
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover; }

#about .about-descr .p-heading {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  text-align: left; }

#about .about-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left; }

:root {
  --font1: 'Heebo', sans-serif;
  --font2: 'Fira Sans Extra Condensed', sans-serif;
  --font3: 'Roboto', sans-serif;
  --btnbg: #ffcc00;
  --btnfontcolor: rgb(61, 61, 61);
  --btnfontcolorhover: rgb(255, 255, 255);
  --btnbghover: #ffc116;
  --btnactivefs: rgb(241, 195, 46);
  --label-index: #960796;
  --danger-index: #5bc257;
  /* PAGINATE */
  --link-color: #000;
  --link-color-hover: #fff;
  --bg-content-color: #ffcc00; }

.container-fluid {
  max-width: 1400px; }

.card {
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  border: 0;
  border-radius: 1rem; }

.card-img,
.card-img-top {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px); }

.card h5 {
  overflow: hidden;
  height: 55px;
  font-weight: 300;
  font-size: 1rem; }

.card h5 a {
  color: black;
  text-decoration: none; }

.card-img-top {
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  object-fit: contain;
  padding: 30px; }

.card h2 {
  font-size: 1rem; }

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06); }

/* Centered text */
.label-top {
  position: absolute;
  background-color: var(--label-index);
  color: #fff;
  top: 8px;
  right: 8px;
  padding: 5px 10px 5px 10px;
  font-size: .7rem;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase; }

.top-right {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 900;
  background: #8bc34a;
  line-height: 90px;
  text-align: center;
  color: white; }

.top-right span {
  display: inline-block;
  vertical-align: middle;
  /* line-height: normal; */
  /* padding: 0 25px; */ }

.aff-link {
  /* text-decoration: overline; */
  font-weight: 500; }

.over-bg {
  background: rgba(53, 53, 53, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px; }

.bold-btn {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 50px 5px 50px; }

.box .btn {
  font-size: 1.5rem; }

@media (max-width: 1025px) {
  .btn {
    padding: 5px 40px 5px 40px; } }

@media (max-width: 250px) {
  .btn {
    padding: 5px 30px 5px 30px; } }

/* START BUTTON */
.btn-warning {
  background: var(--btnbg);
  color: var(--btnfontcolor);
  fill: #ffffff;
  border: none;
  text-decoration: none;
  outline: 0;
  /* box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25); */
  border-radius: 100px; }

.btn-warning:hover {
  background: var(--btnbghover);
  color: var(--btnfontcolorhover);
  /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */ }

.btn-check:focus + .btn-warning,
.btn-warning:focus {
  background: var(--btnbghover);
  color: var(--btnfontcolorhover);
  /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */ }

.btn-warning:active:focus {
  box-shadow: 0 0 0 0.25rem var(--btnactivefs); }

.btn-warning:active {
  background: var(--btnbghover);
  color: var(--btnfontcolorhover);
  /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */ }

/* END BUTTON */
.bg-success {
  font-size: 1rem;
  background-color: var(--btnbg) !important;
  color: var(--btnfontcolor) !important; }

.bg-danger {
  font-size: 1rem; }

.price-hp {
  font-size: 1rem;
  font-weight: 600;
  color: darkgray; }

.amz-hp {
  font-size: .7rem;
  font-weight: 600;
  color: darkgray; }

.fa-question-circle:before {
  /* content: "\f059"; */
  color: darkgray; }

.fa-heart:before {
  color: crimson; }

.fa-chevron-circle-right:before {
  color: darkgray; }

.card {
  border: none;
  padding: 10px 50px; }

.card::after {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }

.card:hover {
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  backface-visibility: hidden;
  will-change: transform;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.75) !important; }

.card:hover::after {
  opacity: 1; }

.card:hover .btn-outline-primary {
  color: white;
  background: #141525; }

.btn-outline-primary {
  color: #000;
  border-color: #580707; }
